@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Raleway:wght@200;300;400&display=swap');

#navbar{
  color: black;
  position: fixed;
  margin: 5px;
  top: 0px;
  right: 0px;
  padding: 0 ;
  background-color: #040916;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.15vw;
  z-index: 3;
}

#navbar ul{
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
#navbar a{
  color: white;
  text-decoration: none;
}

#welcome-section{
  position:relative;
  top: 25vh;
  z-axis : 2;
  text-align: center;
  color: white;
  font-size: 1.8vw;
  font-family: 'Raleway', perpetua, serif;
}

h1{
 animation: tracking-in-expand 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 2s;
  font-weight: 400;
  position:relative;
  top: 30vh;
}

/* Intro Animation*/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
   animation: heartbeat 1.5s ease-in-out infinite both;
}

.name{
  font-size: 120%;
  color: rgb(255, 0, 60);
  font-family: 'Playfair Display', perpetua, serif;
  font-weight: 400;
}

.name:hover{
  color: cyan;
}

body{
  background-color: #171e33;
}
.heading{
  color: white;
  font-size: 2vw;
  font-family: 'Raleway', perpetua, serif;
  line-height: 1.2vw;
  border-style: solid;
  border-width: 0 0 0.3vw 0;
  width: 12vw;
  margin: 1em;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
}

#projects ul{
  list-style-type: circle;
}

#projects header{
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.8vw;
}

#projects a{
  color: white;
  text-decoration: none;
}

.project-tile{
  display: flex;
  width: 30vw;
  height: auto;
  background-color: #040916 ;
  opacity: 95%;
  border-radius: 10px;
}

#web-design{
  background-image: url('https://raw.githubusercontent.com/Suvraneel/Suvraneel.github.io/main/resources/orsrc44518.png');
  background-size: 100%;
  background-position: 70px -260px;
}
#web-design:hover{
  animation: kenburns-bottom 0.1s ease-out both;
}
@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.10) translateY(15px);
    transform-origin: bottom;
  }
}
#web-design a:hover{
  color: cyan;
}

#app-dev img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: invert(1);
  z-index: 1;
}
#app-dev img:hover {
  animation: rotate-ver 0.25s linear both;
}
 .mobile{
    display: none;
    }
#coding{
  background-image: url('https://raw.githubusercontent.com/Suvraneel/Suvraneel.github.io/main/resources/IMG_20201106_134502.jpg');
  background-size: 100%;
}
#coding:hover{
  animation: kenburns-bottom 0.1s ease-out both;
}
#coding a:hover{
  color: cyan;
}

.row2{
  margin: 2em 0 0 0;
}

#opensrc{
  background-image: url('https://raw.githubusercontent.com/Suvraneel/Suvraneel.github.io/main/resources/opensrc_woods.jpg');
  background-size: 150% auto;
  background-position: 0 -180px;
}

#opensrc:hover{
  animation: kenburns-bottom 0.1s ease-out both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#opensrc ul{
  display:flex;
  flex-direction: column;
}

#opensrc ul img:hover{
  -webkit-animation: heartbeat 1s ease-in-out infinite both;
          animation: heartbeat 1s ease-in-out infinite both;
}


#overlap{
  position:absolute;
  z-index: 2;
  padding: 1vw 0 0 1vw;
}

.sub-heading{
  color: white;
  font-size: 1.6vw;
  font-family: 'Raleway', perpetua, serif;
  line-height: 0vw;
  margin: 1em;
}


fieldset{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  height: 40vw;
  padding: 0 1em 0 1em;
  font-size: 0.8em;
  margin-left: 2%;
  background-color: #0f1321;
  border: none;
  border-radius: 7px;
}

.form-content {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 15px 0 0 0;
  font-size: 1.2vw;
  white-space:pre;
  margin-left: 10%;
  position: relative;
  top:20px;
}

.input-box{
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-size: 1.2vw;
  font-family: 'Raleway', sans-serif;
  color: white;
  border-radius: 4px;
  opacity: 1;
  background-color: rgb(0,0,15);
  margin: 0 10% 0 10%;
  border: none;
}
 
button{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px 10px 10px;
  color: white;
  border-radius: 4px;
  margin: 0 10% 0 10%;
  background-color: #0f1321;
}

button:hover {
  animation-name: butt;
  animation-duration:220ms;
  animation-fill-mode: forwards;
}

@keyframes butt{
  100%{
    background-color: #001f4d;
    font-size: 16.4px;
    margin: 0 10.2% 0 10.2%;
    color: cyan;
  }
}

.social{
  width: 50px;
}

#social{
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-evenly;
  position: absolute;  
  right: 2vw;
  filter: invert(1);
  padding:5px;
}

#social img:hover{
  width: 69px;
  animation: kenburns-bottom 0.1s ease-out both;
}

#discord .tooltiptext {
  visibility: hidden;
  font-family: 'Raleway', sans-serif;
}
#discord:hover  .tooltiptext {
    visibility: visible;
  }
#copyright{
  color: white;
  font-family: 'Raleway', perpetua, serif;
  font-size: 1em;
  margin-left: 2%;
  font-weight: 200;
}

#navbar a:hover {
  color: cyan;
}

.invisible{
  visibility: none;
}

@keyframes rotate-ver {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(1) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
    filter: invert(0);
  }
}

/* Spinkit Loading */
.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin: 40vh auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255, 0, 60);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.loaded {
  animation-name: loader;
  animation-duration:1.9s;
  animation-fill-mode: forwards;
}

@keyframes loader{
  0% {
    opacity : 100%;
  }

  95% {
    opacity : 100%;
  }
  
  99% {
    margin: 40vh auto;
    opacity:0;
  }
  
  100% {
    margin: 0 auto;
    opacity:0;
  }
}

@media (max-width: 600px){
  #social{
    width: 95%;
    position: relative;
    top: 2vw;
  } 
  
  .social{
  width: 6.5vw;
}
  #social img:hover{
  width: 12vw;
}
  #discord .tooltiptext {
  font-size: 3vw;  
  }
  
  fieldset{
  width: 85vw; 
    height: 100vh;
  }
  .sub-heading{
     font-size: 3.3vw;
     margin: 0;
    padding: 0;
  }
  .form-content {
    font-size: 4.5vw;
    margin: 0 1vw 0 1vw;
    position: relative;
    top: 10vw;
  }
  .input-box{
    font-size: 4vw;
    width: 95%;
    margin: 0 1vw 0 1vw;
  }
  .mobile{
    display: initial;
    padding: 0 0 2vw 0;
    line-height: 2px;
    }
  
  #welcome-section{
    font-size: 6vw;
  }
  #navbar{
    width: 80vw;
    }
  #navbar ul{
    width: 80%;
    font-size: 4vw;
    justify-content: space-between;
  }
  #projects{
    flex-direction: column;
    width: 100%;
    padding: 5vw 0 10vw 0;
    height: 150vh
  }
  
  .project-tile{
    width: 100%;
    height: 75vw;
  }
  
  .heading{
    width: 30vw;
    font-size: 5vw;
  }
  #overlap{
    line-height: 15vh;
  }
  .invisible{
  visibility: visible;
  }
}

#particles-js {
  position: relative;
  top: -25vh;
  z-axis: 1;
  width: 100%;
  height: 100%;
  background-image: url("");
}

/* ----------------------------------------------
  Attributions:
  
  1. Animations:
 * Generated by Animista on 2020-11-8 12:57:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista

  2. Icons:
  * www.flaticons.com

  3. Minimalistic Website Loading Animation:
  * https://tobiasahlin.com/spinkit/

  4. Particle Simulation
  * https://vincentgarreau.com/particles.js/
 * ---------------------------------------------- */
