  #bg-image {
  display: flex;
  flex-direction: column;
  background-image: url("https://raw.githubusercontent.com/Suvraneel/Suvraneel.github.io/main/resources/orsrc44518.png");
  opacity: 0.94;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  align-self: center;
  padding: 5vw 3vw 0px 3vw;
}

h1{
  line-height: 1px;  
}

#form-box{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vw;
  background-color: rgb(22, 15, 15);
  opacity: 0.75;
  padding: 0 3.5vw 0 3.5vw;
  border-radius:5px;
}

.text {
  color: white;
  text-align: center;
  font-size: 3vw;
  font-family: perpetua, sans-serif;
}

#description{
  font-size: 2vw;
  font-style: italic;
}

.form-content {
  color: white;
  padding: 15px 0 0 0;
  font-size: 1.8vw;
  font-family: calibri, sans-serif;
  white-space:pre;
}

.input-box{
  width: 47.5vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-size: 1.2vw;
  font-family: sans-serif;
  border-radius: 4px;
  opacity: 1;
}

sup{
  font-size: 0.6vw;
}

fieldset{
  width: 47vw;
  padding: 0.1vw 1.5vw 0.3vw 0.8vw;
  font-size: 1.2vw;
  font-family: sans-serif;
  border-radius: 4px;
}

button{
  font-size: 16px;
  font-family: sans-serif;
  width: 49.6vw;
  padding: 10px 20px 10px 10px;
  color: white;
  background-color: #003366;
  border-radius: 4px;
}

button:hover {
  animation-name: butt;
  animation-duration:500ms;
  animation-fill-mode: forwards;
}
@keyframes butt{
  100%{
    background-color: #008080;
  }
}

#options{
  font-size:1.2vw;
}

/*for mobile devices*/
@media (max-width: 600px){
#bg-image{
  line-height:40%;
  padding: 3vw 3vw 0px 3vw;
  }
  #form-box{
    width: 65vw;
    padding: 0 5vw 0 5vw;
  }
  .text {
    font-size: 4.5vw;
  }  
  .form-content{
    font-size: 3vw;
  }
  .input-box{
    width: 61vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-size: 2vw;
  }
  fieldset{
  width: 60vw;
  padding: 0.1vw 1.5vw 0.3vw 0.8vw;
  font-size: 2vw;
  }
  #options{
  font-size:2vw;
}
  button{
    width:63.5vw;
  }
}
