@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nprogress-color: #B338FF;
  --nprogress-height: 3px;
  --font-TASAOrb: "TASAOrb"
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  margin: 0;
  font-family: var(--font-TASAOrb), "Raleway", "Playfair Display", -apple-system,
  BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* Common */
/* Animated Heading */
.animated-heading {
  background: url("https://i.ibb.co/mhpzvXk/seed-46867.png") repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: move 50s linear infinite;
}
@keyframes move {
  0% {
    background-position: 0 30%;
  }
  100% {
    background-position: 100% 70%;
  }
}

/* Project - Modal */
/* Responsive Iframes */
.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}