@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --nprogress-color: #B338FF;
    --nprogress-height: 3px;
    --font-TASAOrb: "TASAOrb";
    --background: 279 55% 100%;
    --foreground: 279 60% 4%;
    --muted: 279 9% 87%;
    --muted-foreground: 279 9% 25%;
    --popover: 279 55% 100%;
    --popover-foreground: 279 60% 4%;
    --card: 279 55% 100%;
    --card-foreground: 279 60% 4%;
    --border: 279 7% 90%;
    --input: 279 7% 90%;
    --primary: 279 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 279 4% 88%;
    --secondary-foreground: 279 4% 28%;
    --accent: 279 4% 88%;
    --accent-foreground: 279 4% 28%;
    --destructive: 19 95% 25%;
    --destructive-foreground: 19 95% 85%;
    --ring: 279 100% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 279 43% 2%;
    --foreground: 279 30% 100%;
    --muted: 279 9% 13%;
    --muted-foreground: 279 9% 75%;
    --popover: 279 43% 2%;
    --popover-foreground: 279 30% 100%;
    --card: 279 43% 2%;
    --card-foreground: 279 30% 100%;
    --border: 276 6.67% 14.71%;
    --input: 279 7.33% 14.76%;
    --primary: 279 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 279 6% 13%;
    --secondary-foreground: 279 6% 73%;
    --accent: 279 6% 13%;
    --accent-foreground: 279 6% 73%;
    --destructive: 348.71 95% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 279 100% 45%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  margin: 0;
  font-family: var(--font-TASAOrb), "Raleway", "Playfair Display", -apple-system,
  BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* Common */
/* Animated Heading */
.animated-heading {
  background: url("https://i.ibb.co/mhpzvXk/seed-46867.png") repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: move 50s linear infinite;
}
@keyframes move {
  0% {
    background-position: 0 30%;
  }
  100% {
    background-position: 100% 70%;
  }
}

/* Project - Modal */
/* Responsive Iframes */
.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}