/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts - Google */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');  */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'Playfair Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.dark {
  /* Canvas */
  /* background: linear-gradient(208.86deg, #000000 19.35%, #006363 114.06%); */
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* --------------------------------------------------------------------- */

.logo {
  /* Frame 3 */

  background: radial-gradient(79.04% 79.04% at 50% 50%, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.nav{
  width: 8em;
}

.nav-dark {
  /* Nav */
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.36) 34.88%, rgba(255, 255, 255, 0.2088) 340.96%);
}

.nav-link-dark {
  /* Nav>About */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  background: linear-gradient(88.19deg, rgba(0, 0, 0, 0.91) -166.74%, rgba(0, 0, 0, 0) 108.72%);
  mix-blend-mode: normal;
  border-bottom: 1px solid #8248FF;
}


.namebar > span {
  color: rgb(255, 5, 5);
}

.calendly-inline-widget {
  filter: invert(100%);
}   

.form-bg{
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.537) 34.88%, rgba(255, 255, 255, 0.2088) 340.96%);
}

form>input, form>textarea{
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.36) 34.88%, rgba(255, 255, 255, 0.2088) 340.96%);
  border: 1px solid #8248FF;
}