#bg-image {
  text-align: center;
  padding: 3vw;
  line-height: 0.1vw;
}

#header {
  top: 0px;
  background-color: white;
}

#header-img {
  opacity: 0.8;
}

.text {
  font-family: perpetua, serif;
}

#title {
  font-size: 5vw;
}

#description {
  font-family: perpetua, monospace;
  font-style: italic;
  font-size: 2vw;
}

body {
  background-color: rgb(220, 220, 220);
}

nav {
  position: fixed;
  top: 0.8vw;
  width: 20%;
  display: flex;
  padding: 0.5vw 2vw 0.5vw 70vw;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5vw;
}

.nav-link {
  font-size: 1.3vw;
  color: black;
  font-family: georgia, courier-new;
}

#form {
  display: flex;
  padding: 1vw;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 5vw;
  padding: 2vw 40% 0 40%;
}

input {
  border-radius: 3px;
  font-size: 1.1vw;
  padding: 0.3vw;
}

.button {
  border-radius: 5px;
  background-color: rgb(255, 197, 4);
  font-size: 1.2vw;
}

.button:hover {
  background-color: rgb(255, 150, 0);
  font-size: 1.15vw;
}

.feat-img {
  width: 5vw;
}
.feat-text {
  font-size: 1.6vw;
}

.feat {
  display: flex;
  padding: 2vw 23vw 0 23vw;
  justify-content: space-evenly;
  line-height: 2vw;
}

iframe {
  padding: 0 40vw 0 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  iframe {
    width: 78%;
    padding: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
