#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-rows: repeat(14, 3vw);
  width: 25vw;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-link {
  color: black;
  font-family: perpetua, serif, sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
}

#nav-ul {
  padding: 0;
  list-style: none;
  line-height: 3vw;
}

.nav-li {
  border-top: 1px solid;
  padding-left: 4vw;
  cursor: pointer;
}

#nav-head {
  font-size: 2.5vw;
  padding: 1vw 1vw 1vw 4vw;
  font-family: serif, sans-serif;
}

#main-doc {
  margin-left: 29vw;
}

.main-section {
  font-size: 1.5vw;
  font-family: perpetua, serif, sans-serif;
}

header {
  font-size: 2.5vw;
}

code {
  display: block;
  white-space: pre;
  font-size: 1.2vw;
  background-color: rgb(220, 220, 220);
}

.sub-li {
  list-style: circle;
}
